body {
  font-family: sans-serif;
  width: 480px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  body {
    width: 800px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 961px) {
  body {
    width: 960px;
    margin: 0 auto;
  }
}