.a, .b, .c, .d, .e, .f, .g, .h, .i {
  outline: solid 1px;
}

@media only screen and (min-width: 961px) {
  body {
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'menusection mainone mainone maintwo maintwo'
    'menusection mainone mainone maintwo maintwo'
    'menusection mainthree mainfour mainfive mainsix'
    'menusection mainthree mainfour mainfive mainsix'
    'menusection footer footer footer footer'
  }

  .a {
    grid-area: header;
  }

  .b {
    grid-area: menusection;
    height: 600px;
  }

  .c {
    grid-area: mainone;
  }

  .d {
    grid-area: maintwo;
  }

  .e {
    grid-area: mainthree;
  }

  .f {
    grid-area: mainfour;
  }

  .g {
    grid-area: mainfive;
  }

  .h {
    grid-area: mainsix;
  }

  .i {
    grid-area: footer;
  }
}